.App {
  height: 100vh;
  width: 100vw;
  background-color: lightcoral;
  display: flex;
  flex-direction: center;
  align-items: flex-start;
}

.todo-box-container {
  padding: 15px;
  background-color: whitesmoke;
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 4px 15px black;
  margin: 15px;
}

.filter {
  width: 100%;
  border-radius: 6px;
  height: 20px;
  margin-bottom: 15px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  /* padding-left: 20px; */
}

.todo {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
}

.todo-label {
  flex: 1;
}

.add-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: hotpink;
  border-radius: 6px;
  font-size: 1.05em;
  font-weight: bold;
}
